# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# IDE
.vscode/

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/

# HuggingFace cache
.cache/
models/

# Logs
logs/*.log